@page "/Register"
@using BlazorWASM.Services
@using Domain.DTOs
@using Domain.Models
@inject IAuthService authService
<h3>Register</h3>
        <div class="card">
            <h3>Please login</h3>
            <div class="field">
                <label>User name:</label>
                <input type="text" @bind="userName"/>
            </div>
            <div class="field">
                <label style="text-align: center">Password:</label>
                <input type="password" @bind="password"/>
            </div>
            <div class="field">
                <label style="text-align: center">email:</label>
                <input type="password" @bind="Email"/>
            </div>
            <div class="field">
                            <label style="text-align: center">domain:</label>
                            <input type="password" @bind="Domain"/>
                        </div>
            <div class="field">
                            <label style="text-align: center">name:</label>
                            <input type="password" @bind="Name"/>
                        </div>
            <div class="field">
                            <label style="text-align: center">role:</label>
                            <input type="password" @bind="Role"/>
                        </div>
            <div class="field">
                            <label style="text-align: center">age:</label>
                            <input type="password" @bind="Age"/>
                        </div>
            <div class="field">
                            <label style="text-align: center">secur:</label>
                            <input type="password" @bind="SecurityLevel"/>
                        </div>
                                                                        
            @if (!string.IsNullOrEmpty(errorLabel))
            {
                <div class="field">
                    <label style="color: red">
                        @errorLabel
                    </label>
                </div>
            }
            <div class="field">
                <button class="loginbtn" @onclick="RegisterAsync">register</button>
            </div>
        </div>
@code {
    private string userName;
    private string password;
    private string Email;
    private string Domain;
    private string Name;
    private string Role;
    private int Age;
    private int SecurityLevel;
    private string errorLabel;
    
    private async Task RegisterAsync()
    {
        errorLabel = "";
        try
        {
            //await authService.RegisterAsync(new User(userName,password,Email,Domain,Name,Role,Age,SecurityLevel));
            userName = "";
            password = " ";
            Email= " ";
            Domain= " ";
            Name= " ";
            Role = " "; 
            Age= 0; 
            SecurityLevel= 0; 
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }
}