@page "/Register"
@using BlazorWASM.Services
@using Domain.DTOs
@using Domain.Models
@inject IAuthService authService
<h3>Register</h3>
        <div class="card">
            <h3>Please login</h3>
            <div class="field">
                <label>User name:</label>
                <input type="text" @bind="userName"/>
            </div>
            <div class="field">
                <label style="text-align: center">Password:</label>
                <input type="password" @bind="password"/>
            </div>
            <div class="field">
                <label style="text-align: center">email:</label>
                <input type="password" @bind="Email"/>
            </div>

            <div class="field">
                            <label style="text-align: center">age:</label>
                            <input type="password" @bind="Age"/>
                        </div>

            @if (!string.IsNullOrEmpty(errorLabel))
            {
                <div class="field">
                    <label style="color: red">
                        @errorLabel
                    </label>
                </div>
            }
            <div class="field">
                <button class="loginbtn" @onclick="RegisterAsync">register</button>
            </div>
        </div>
@code {
    private int id;
    private string userName;
    private string password;
    private string Email;
    private int Age;
    private string errorLabel;
    
    private async Task RegisterAsync()
    {
        errorLabel = "";
        try
        {
            await authService.RegisterAsync(new UserCreationDto(id,userName,password,Email,Age));
            id = 0;
            userName = "";
            password = " ";
            Email= " ";
            Age= 0;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }
}