@page "/ViewPosts"

@using HttpClients.ClientInterfaces
@using Domain.Models
@using System.Collections
@inject IPostService postService;

<h3>View Posts Details</h3>

<div>
    <button @onclick="LoadPosts">Load</button>
</div>  
@if (posts == null)
{
}
else if (!posts.Any())
{
    <p>No Posts to display</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>post ID</th>
            <th>Title ID</th>
            <th>Body</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in posts)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.title</td>
                <td>@item.body</td>
            </tr>
        }
        
        </tbody>
    </table>
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}
@code {
    private IEnumerable<Post>? posts;
    private string msg = "";

    private async Task LoadPosts()
    {
        try
        {
            posts = await postService.GetAsync(null, null, null);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}