@page "/ViewPosts/{id:int}"

@using HttpClients.ClientInterfaces
@using Domain.Models
@using System.Collections
@using Domain.DTOs
@inject IPostService postService;

<h3>View Posts Details</h3>
<h3>Post:</h3>
    <div class="form-group field">
        <label>Title:</label>
        <label type="text" @bind="dto.title"/>
    </div>
    <div class="form-group field">
        <label>body:</label>
        <label @bind="dto.body">
        </label>
    </div>
    <div class="button-row">
        <button @onclick="LoadPosts" class="acceptbtn">Load</button>
    </div>
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}
@code {
    [Parameter]
    public int Id { get; set; }
    private NewPostDTO dto = null!;
    private Post post;
    private string msg = "";

    private async Task LoadPosts()
    {
        try
        {
            Console.WriteLine("jajaj");
            post = await postService.GetByIdAsync(Id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}