@page "/ViewPosts/{id:int}"

@using HttpClients.ClientInterfaces
@using Domain.Models
@using System.Collections
@using Domain.DTOs
@inject IPostService postService;

<h3>Post:</h3>
<div class="button-row">
        <button @onclick="LoadPosts" class="acceptbtn">Load</button>
    </div>
@if (post == null)
{
    
    <p>Click to load</p>
}else
{
    <table class="table">
        <thead>
        <tr>
            <th>title</th>
            <th>body</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>@post.title</td>
            <td>@post.body</td>
        </tr>
        </tbody>
    </table>
}
@code {
    [Parameter]
    public int Id { get; set; }
    private Post post;
    private string msg = "";

    private async Task LoadPosts()
    {
        try
        {
            post = await postService.GetByIdAsync(Id);
            Console.WriteLine(post.title);
            Console.WriteLine(post.body);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}